.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-image {
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
}
.card {
  margin: 15px 15px;
  background-color: #ffffff;
  min-width: 255px;
  width: 90%;
  h4 {
    font-size: 16px;
    margin: 8px 0;
  }
  a {
    color: $Dark-Blue;
  }
  a:hover {
    color: HSL(158, 61.3%, 48.6%);
  }
}
.desc {
  font-size: 13px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 24px;
}
