.image {
  display: flex;
  justify-content: space-between;
  transform: translate(450px, -700px);
  z-index: -1; }
  @media screen and (max-width: 750px) {
    .image {
      transform: translate(0, -600px); } }

.image-one {
  position: absolute;
  height: auto; }
  @media screen and (max-width: 750px) {
    .image-one {
      display: none; } }

.image-two {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 900px;
  height: auto; }
  @media screen and (max-width: 750px) {
    .image-two {
      top: -60%;
      left: auto;
      width: auto;
      height: auto;
      display: none; } }

.image-mobile {
  display: none; }
  @media screen and (max-width: 750px) {
    .image-mobile {
      display: none; } }

.header {
  padding: 0em 0em 2em 7em;
  background-color: white;
  z-index: 5;
  margin: auto;
  background-color: white;
  position: absolute;
  width: 100% !important; }
  @media screen and (max-width: 800px) {
    .header {
      padding: 0;
      width: 140% !important; } }

.top-nav {
  text-align: center; }
  @media screen and (max-width: 750px) {
    .top-nav {
      display: none; } }
  .top-nav a:hover {
    color: HSL(158, 61.3%, 48.6%); }

.my-button-header {
  margin-right: 7em;
  text-align: right;
  padding: 20px 0 0 0; }
  @media screen and (max-width: 750px) {
    .my-button-header {
      display: none; } }

.a-gray {
  color: #9698a6;
  margin-right: 30px;
  font-size: 14px; }

.topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
  display: none; }
  @media screen and (max-width: 750px) {
    .topnav {
      display: block; } }

.hamburger {
  display: none; }
  @media screen and (max-width: 750px) {
    .hamburger {
      display: inline;
      margin-left: 60%;
      padding-bottom: 1em; } }

.topnav #myLinks {
  display: none;
  width: 80%;
  background-color: #f3f4f6; }
  .topnav #myLinks a:hover {
    color: HSL(158, 61.3%, 48.6%);
    cursor: pointer; }

.topnav a {
  color: #2d314d;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center; }

.topnav a.icon2 {
  display: block;
  position: absolute;
  right: 0;
  top: 0; }

.logo {
  margin: 0;
  width: 139px;
  height: 20px;
  display: block;
  background-image: url("/images/logo.svg");
  cursor: pointer;
  white-space: nowrap;
  text-indent: -9999px; }
  .logo a {
    outline: none; }

.bot-nav {
  margin-bottom: 0.5em; }
  .bot-nav a:hover {
    color: HSL(158, 61.3%, 48.6%); }

.bot-nav-container {
  margin-left: 30px; }

.my-button-footer {
  text-align: right;
  padding-left: 15em;
  margin-top: 1em; }
  @media screen and (max-width: 750px) {
    .my-button-footer {
      text-align: left;
      padding: inherit;
      margin-top: 2em; } }

.social {
  margin-top: 2em; }

footer {
  background-color: #2d314d;
  padding: 2em 0em 2em 7em; }

.copyright {
  font-size: 15px;
  color: #ffffff;
  opacity: 50%;
  margin-top: 3em;
  text-align: right; }
  @media screen and (max-width: 750px) {
    .copyright {
      text-align: left; } }

.active {
  margin-right: 13px; }

.button {
  background: linear-gradient(90deg, #31d35c 0%, #2bb7da 100%);
  padding: 13px 35px;
  border-radius: 22px;
  color: #ffffff;
  font-size: 14px; }
  .button:hover {
    background: linear-gradient(90deg, #70e18e 0%, #6ccde5 100%);
    cursor: pointer; }

.button-in-left {
  text-align: left;
  padding-top: 1em; }
  @media screen and (max-width: 750px) {
    .button-in-left {
      text-align: center; } }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.card-image {
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover; }

.card {
  margin: 15px 0;
  background-color: #ffffff;
  min-width: 255px;
  width: 90%; }
  .card h4 {
    font-size: 16px;
    margin: 8px 0; }
  .card a {
    color: #2d314d; }
  .card a:hover {
    color: HSL(158, 61.3%, 48.6%); }

.desc {
  font-size: 13px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 24px; }

.p-second-section {
  height: 56px;
  width: 635px;
  padding-bottom: 1em; }
  @media screen and (max-width: 800px) {
    .p-second-section {
      width: auto;
      height: auto; } }

.p-first-section {
  height: 84px;
  width: 477px;
  margin-top: 40px;
  margin-bottom: 40px; }
  @media screen and (max-width: 800px) {
    .p-first-section {
      width: auto; } }

.p-author {
  font-size: 10px;
  color: #9698a6;
  margin-top: 25px;
  margin-bottom: 0; }

p {
  color: #9698a6;
  font-size: 18px;
  color: #9698a6; }

.p-in-card {
  height: 112px;
  width: 255px;
  font-size: 16px;
  color: #9698a6; }

.third-section {
  background-color: #fafafa;
  padding-bottom: 5em;
  padding-left: 5%; }

.second-section {
  background-color: #f3f4f6;
  padding-bottom: 5em;
  padding-top: 5em;
  padding-left: 5%; }
  @media screen and (max-width: 750px) {
    .second-section {
      text-align: center; } }

.first-section {
  background-color: #fafafa;
  padding-bottom: 10em;
  padding-left: 5%; }
  @media screen and (max-width: 750px) {
    .first-section {
      text-align: center; } }

section {
  width: 100%;
  margin: auto; }

.icon-card {
  min-width: 255px;
  width: 90%; }
  .icon-card h4 {
    margin-top: 40px;
    margin-bottom: 40px; }
  @media screen and (max-width: 800px) {
    .icon-card {
      margin: 0 auto;
      text-align: center;
      width: 0; } }

.icon {
  height: 72px;
  width: 72px; }

* {
  font-family: 'Public Sans', sans-serif; }

body {
  background-color: white;
  overflow-x: hidden;
  margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 90%; }
  @media screen and (max-width: 800px) {
    .grid-container {
      display: inline; } }

.grid-item {
  padding-top: 20px;
  z-index: 1; }

.container {
  padding: 2px 10px; }

h4 {
  color: #2d314d;
  font-weight: 300;
  font-size: 24px; }

.title-third {
  color: #2d314d;
  font-weight: 300;
  font-size: 40px;
  padding: 1em 0 0.5em 0;
  margin: auto; }

.title-first {
  color: #2d314d;
  font-weight: 300;
  font-size: 56px;
  padding-top: 10%;
  width: 450px; }
  @media screen and (max-width: 750px) {
    .title-first {
      padding-top: 50%;
      width: auto; } }

a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer; }
